
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    transition: all .2s linear;
}
ul,ol{
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
    
    // display: flex;
    // justify-content: space-between;
}
.heading{
    text-align: center;

    h1{
        font-size: 50px;
        color: $bg-green;
    }
}