* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

ul, ol {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 50px;
  color: #1dd1a1;
}

body header {
  background-color: #222f3e;
  width: 100%;
  padding: 25px 0;
}

body header .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .networks .site-name {
  width: 250px;
}

body header .networks .site-name h1 {
  color: #1dd1a1;
}

body header .networks .social-networks nav ul.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .networks .social-networks nav ul.social-list li {
  padding: 0 10px;
}

body header .networks .social-networks nav ul.social-list li a {
  width: 35px;
  height: 35px;
  border-radius: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1dd1a1;
  color: #dcdde1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body header .networks .social-networks nav ul.social-list li a:hover {
  background-color: #dcdde1;
  color: #1dd1a1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px 2px #1dd1a1;
          box-shadow: 0 0 20px 2px #1dd1a1;
}

body header .networks .social-networks nav ul.social-list li:last-of-type {
  padding-right: 0;
}

body header .networks .social-networks p {
  text-align: center;
  color: #fff;
}

body section {
  background-color: #dcdde1;
}

body section .menu-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section .menu-and-logo .nav-brand {
  height: 50px;
  margin: 15px 0;
}

body section .menu-and-logo .nav-brand a img {
  height: 100%;
}

body section .menu-and-logo .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .menu-and-logo .menu nav #bar-logo {
  display: none;
}

body section .menu-and-logo .menu nav ul.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .menu-and-logo .menu nav ul.menu-list li.menu-list-item {
  margin: 10px 0;
}

body section .menu-and-logo .menu nav ul.menu-list li.menu-list-item a {
  color: #1dd1a1;
  font-size: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px;
}

body section .menu-and-logo .menu nav ul.menu-list li.menu-list-item a:hover {
  background-color: #fff;
  color: #222f3e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px 10px #1dd1a1;
          box-shadow: 0 0 20px 10px #1dd1a1;
  border-radius: 50rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 15px !important;
}

body section .menu-and-logo .menu nav ul.menu-list li.menu-list-item:last-of-type {
  margin-right: 0;
}

body section .menu-and-logo .menu nav ul.menu-list li.menu-list-item:last-of-type a {
  padding-right: 0;
}

body section#info {
  background-color: #222f3e;
  background-image: url(../img/avengers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
}

body section#info .card {
  margin: 0 auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

body section#info .card .card-header h1 {
  font-weight: 900;
  color: #1dd1a1;
  font-size: 4em;
  margin-bottom: 25px;
  text-align: center;
}

body section#info .card .card-body p {
  color: #dcdde1;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.7;
  text-align: center;
}

body section#info .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

body section#info .card .card-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 40px;
  background-color: #1dd1a1;
  color: #dcdde1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 30px;
  border-radius: 50rem;
  font-weight: 700;
}

body section#info .card .card-footer a:hover {
  background-color: #dcdde1;
  color: #1dd1a1;
}

body section#info .card .card-footer a:hover {
  background-color: #fff;
  color: #222f3e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px 10px #1dd1a1;
          box-shadow: 0 0 20px 10px #1dd1a1;
  border-radius: 50rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section#info .founders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

body section#info .founders .founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  line-height: 2;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  margin: 50px 0;
  padding: 10px 0;
}

body section#info .founders .founder .image-box {
  width: 300px;
  height: 200px;
  padding: 15px;
}

body section#info .founders .founder .image-box a img {
  width: 100%;
  height: 100%;
}

body section#info .founders .founder:hover {
  -webkit-transform: rotateY(360deg) scale(1.2);
          transform: rotateY(360deg) scale(1.2);
}

body section#heroes {
  padding: 200px 0 100px;
}

body section#heroes .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#heroes .cards .card {
  border: 1px solid black;
  border-radius: 1rem;
  width: 325px;
  margin: 25px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body section#heroes .cards .card .card-header {
  padding: 10px;
}

body section#heroes .cards .card .card-header .image-box {
  height: 200px;
  border-radius: 1rem;
  overflow: hidden;
}

body section#heroes .cards .card .card-header .image-box a img {
  width: 100%;
  height: 100%;
}

body section#heroes .cards .card .card-header h1 {
  margin: 10px 0;
  text-align: center;
}

body section#heroes .cards .card .card-body {
  padding: 0 20px 20px;
}

body section#heroes .cards .card .card-body p {
  text-align: center;
}

body section#heroes .cards .card .card-footer {
  border-top: 1px solid black;
}

body section#heroes .cards .card .card-footer .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

body section#heroes .cards .card .card-footer .details a.button {
  background-color: #1dd1a1;
  color: #dcdde1;
  border-radius: 50rem;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section#heroes .cards .card .card-footer .details a.button:hover {
  background-color: #dcdde1;
  color: #0f6b52;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  font-weight: bolder;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body section#heroes .cards .card .card-footer .details ul.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section#heroes .cards .card .card-footer .details ul.icons li {
  margin: 0 5px;
}

body section#heroes .cards .card .card-footer .details ul.icons li a.opinions {
  background-color: #1dd1a1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  color: #dcdde1;
}

body section#heroes .cards .card .card-footer .details ul.icons li a.opinions:hover {
  background-color: #dcdde1;
  color: #0f6b52;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  font-weight: bolder;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body section#heroes .cards .card:first {
  margin-left: 0;
}

body section#heroes .cards .card:last-of-type {
  margin-right: 0;
}

body section#heroes .cards .card:hover {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body section#women {
  padding: 100px 0;
}

body section#women .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#women .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

body section#women .cards .card .image-box {
  width: 250px;
  height: 200px;
  padding: 15px;
}

body section#women .cards .card .image-box a img {
  height: 100%;
}

body section#women .cards .card h1 {
  line-height: 2;
}

body section#women .cards .card:hover {
  -webkit-transform: rotateY(360deg) scale(1.2);
          transform: rotateY(360deg) scale(1.2);
}

body section#youngs {
  padding: 100px 0;
}

body section#youngs .heading {
  margin-bottom: 100px;
}

body section#youngs .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#youngs .cards .card {
  border-radius: 1rem;
  width: 350px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body section#youngs .cards .card .card-header {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

body section#youngs .cards .card .card-header .circle-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #222f3e;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  padding: 20px;
  overflow: hidden;
}

body section#youngs .cards .card .card-header .circle-image a img {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 100%;
  height: 100%;
}

body section#youngs .cards .card h1 {
  text-align: center;
  line-height: 2;
}

body section#youngs .cards .card .card-body {
  padding: 0 25px;
}

body section#youngs .cards .card .card-body p {
  text-align: center;
  line-height: 1.5;
  font-size: 19px;
}

body section#youngs .cards .card .card-footer {
  text-align: center;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section#youngs .cards .card .card-footer a {
  color: black;
  font-size: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px;
  margin-top: 20px;
}

body section#youngs .cards .card:nth-of-type(1) {
  margin-left: 0;
}

body section#youngs .cards .card:nth-of-type(2) {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

body section#youngs .cards .card:nth-of-type(2) .circle-image {
  width: 200px;
  height: 200px;
}

body section#youngs .cards .card:nth-of-type(2) p {
  font-size: 23px;
}

body section#youngs .cards .card:nth-of-type(3) {
  margin-right: 0;
}

body section#youngs .cards .card:hover {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  background-color: #222f3e;
  color: #dcdde1;
}

body section#youngs .cards .card:hover .card-header {
  -webkit-box-shadow: 0 0 20px #dcdde1;
          box-shadow: 0 0 20px #dcdde1;
  background-color: #dcdde1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

body section#youngs .cards .card:hover .card-header .circle-image {
  background-color: #dcdde1;
  border-radius: 0;
}

body section#youngs .cards .card:hover .card-header .circle-image img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body section#youngs .cards .card:hover h1 {
  color: #1dd1a1;
}

body section#youngs .cards .card:hover .card-footer a {
  border-radius: 50rem;
  border: 1px solid black;
  color: #fff;
}

body section#youngs .cards .card:hover .card-footer a:hover {
  background-color: #fff;
  color: #222f3e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px 10px #1dd1a1;
          box-shadow: 0 0 20px 10px #1dd1a1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer {
  background-color: #222f3e;
}

body footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body footer .container .social-networks {
  padding: 30px 0;
}

body footer .container .social-networks nav ul.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .container .social-networks nav ul.social-list li {
  padding: 0 10px;
}

body footer .container .social-networks nav ul.social-list li a {
  width: 35px;
  height: 35px;
  border-radius: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1dd1a1;
  color: #dcdde1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body footer .container .social-networks nav ul.social-list li a:hover {
  background-color: #dcdde1;
  color: #1dd1a1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px 2px #1dd1a1;
          box-shadow: 0 0 20px 2px #1dd1a1;
}

body footer .container .social-networks p {
  text-align: center;
  color: #fff;
}

body footer .container ul {
  padding: 25px;
}

body footer .container ul h1 {
  color: #1dd1a1;
  margin-bottom: 20px;
}

body footer .container ul li {
  margin: 10px 0;
}

body footer .container ul li a {
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px;
}

body footer .container ul li a:hover {
  background-color: #fff;
  color: #222f3e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px 10px #1dd1a1;
          box-shadow: 0 0 20px 10px #1dd1a1;
  border-radius: 50rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  section#women .cards {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  section#women .cards .image-box {
    width: 350px !important;
    height: 250px !important;
  }
  section#youngs .card {
    width: 320px !important;
  }
  section#youngs .card p {
    font-size: 18px;
  }
  section#youngs .card:nth-of-type(2) p {
    font-size: 21px !important;
  }
  section#heroes .cards {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  ul.social-list {
    margin-right: 10px;
  }
  #bar-logo {
    display: block !important;
    margin-right: 10px;
  }
  #bar-logo a {
    font-size: 50px;
    color: #222f3e;
  }
  .menu-list {
    display: none !important;
  }
  section#info .card h1 {
    font-size: 1em;
  }
  section#info .card p {
    font-size: 20px;
  }
  section#info .founders {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 50px;
    margin-top: 150px;
  }
  section#youngs .cards {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  footer .social-networks {
    width: 100% !important;
  }
  footer .social-networks ul.social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  section#info .card h1 {
    font-size: 50px !important;
  }
  section#info .card p {
    font-size: 18px !important;
  }
  section#heroes .cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  section#women .cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  section#women .cards .image-box {
    height: 300px !important;
    width: 400px !important;
  }
  section#youngs .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#youngs .cards .card {
    width: 400px !important;
    padding: 25px 10px;
  }
  section#youngs .cards .card p {
    font-size: 22px !important;
  }
  section#youngs .cards .card:nth-of-type(2) {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  section#youngs .cards .card:nth-of-type(2) p {
    font-size: 24px !important;
  }
  footer .responsive-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100% !important;
  }
  .site-name h1 {
    font-size: 1.5em;
    margin-left: 10px;
  }
  .nav-brand a {
    margin-left: 10px;
  }
  section#info .card h1 {
    font-size: 45px !important;
  }
  section#info .card p {
    font-size: 18px !important;
  }
}
/*# sourceMappingURL=style.css.map */